<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.project.sosapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SosActivity"
            android:theme="@style/PersonActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".PersonActivity"
            android:theme="@style/PersonActivity"/>
        <activity android:name=".SetIDActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.MyFirebaseMessaging"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Service.Service"/>

        <service
            android:name=".Service.JobServices"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBf1PtviKUCKISD-ipHUq2jmoe03U0k614" />
    </application>

</manifest>